* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Arial, sans-serif;
  align-content: centre;
}

body {
  font-size: 14px;
}

h1 {
  text-align: center;
}

/*Navigation Bar*/
.topnav {
  overflow: hidden;
  
  display: flex;
  justify-content: center;
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #dde02f;
  color: white;
}
